h1{
    font-size: 40px;
    color:aquamarine;
    font-weight:500;
}

h4{
    font-size: 20px;
    font-weight:400;
}

.parrafo{
    font-size: 15px;
    color: dimgray;
    font-weight:600;
    text-align: center;
    background-color:black;
 }

 p{
    font-size: 20px;
    font-style:italic;
    font-family: 'Courgette', cursive;
    color: darkblue;

 }

 .parrafo1{ 
    font-size: 20px;
    font-style:italic;
    font-family: 'Gloria Hallelujah', cursive;
    color: brown;


 }